.floor-plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 16px;

  hr {
    width: 94%;
    border: none;
    border-top: 1px solid var(--color-text);
    margin-top: 24px;
    opacity: 0.2;
  }
}

.floor {
  margin: 0 auto;
  width: 100%;
}

.floor-title {
  font-weight: 600;
  font-size: 24px;
  margin-top: 48px;
  margin-bottom: -24px;
}

.clickable {
  cursor: pointer;
  transition: fill 0.3s ease;

  &:hover rect {
    fill: #bbbbbb;
  }

  &.selected rect {
    fill: #dfaaaa;
  }
}

.room-name {
  font-size: 10px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  color: #000;
}
