nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 16px;
  text-transform: uppercase;

  .navigation {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      color: var(--color-text);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #969696;
      }

      &.router-link-exact-active {
        color: #e30613;

        &:hover {
          color: #e30613;
          cursor: default;
        }
      }
    }
  }

  .dropdown-button {
    background-color: transparent;
    color: var(--color-text);
    padding-right: 0;
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    display: flex;
    align-items: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

   .dropdown-content.settings {
    position: absolute;
    right: 4px;
    max-width: 200px;
    width: max-content;
    word-break: break-word;
    left: initial;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
  }

  hr {
    border:none;
    border-bottom: 1px solid #e2e2e2;
  }

  .user-profile{
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    text-transform: initial;
    font-size: 14px;
    color: var(--color-text-secondary);
  }

  .dropdown-content {
    position: absolute;
    background-color: var(--color-background);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 4px;
    top: 100%;
    left: 0;

    a {
      color: var(--color-text);
      margin: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: var(--color-hover);
      }
    }
  }
}
